body {
	background-image: url("./media/grass.jpg");
	color: #000000;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family: marion;
}

h1, h2, h3, p {
	text-align: center;
}

main {
	width: 50%;
	max-width: 600px;
	padding: 10px 10px;
	margin: auto;
	background-image: url("./media/grass.jpg");
}

audio {
	display: block;
	margin-right: auto;
	margin-left: auto;
}